POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=defaultdb
POSTGRES_DSN=postgres://user:password@chat-postgres:5432/defaultdb?sslmode=disable

CENTRIFUGO_API_KEY=

BETTER_AUTH_SECRET=

# base url of server
BETTER_AUTH_URL=http://localhost:3000
